@use '../abstracts' as *;

article.card:first-child {
    margin-bottom: 8px;
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);

    h2.title {
        color: $firstCardTitleColor;
        white-space: pre-line;
        font-weight: 400;
        font-size: 16px;
        line-height: 20.8px;
    }
}

article.card:first-child+article {
    padding: 24px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);

    h2.title {
        color: $SecondCardTitleColor;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
    }
}