@use '../abstracts' as *;

header.header {
    padding: 16px 24px;
    background-color: $backgroundHeaderColor;

    h6.breadCrumbs {
        font-weight: 400;
        font-size: 14px;
        line-height: 18.2px;
        color: $headerBreadCrumbsColor;
    }
    
    div.welcomeAndSettings {
        display: flex;
        justify-content: space-between;
        
        h1.welcome {
            padding: 6px 0;
            font-weight: 700;
            font-size: 38px;
            line-height: 49.4px;
            color: $headerWelcomeColor;
        }
    }
}