@use '../abstracts' as *;

div.signInWindow {
    width: 539px;
    height: 742px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0px 2px 8px 0px #00000026;
    background-color: $signInWindowBackgroundColor;

    div.logo {
        margin-top: 72.41px;
        display: flex;
        align-items: flex-end;

        img:first-child {
            height: 54.98px;
            margin-bottom: 2.5px;

            &+img {
                height: 68.01px;
            }
        }
    }

    div.signInAndRegisterLinks {
        display: grid;
        grid-template-columns: 184px 184px;
        grid-template-rows: 46px;
        margin-top: 48px;
        margin-bottom: 24px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 20.8px;

            &:first-child {
                color: $activeAuthLinkColor;
                border-bottom: 2px solid $activeAuthLinkColor;
            }
            
            &:last-child {
                border-bottom: 1px solid $notActiveAuthLinkColor;
            }
        }
    }
}