section.loading-main-page div.container div.menu div.tab1 div.active div.linkAndArrow button,
section.loading-main-page div.container div.menu div.tab1 div.categories.dropdown {
    display: none;
}

section.loading-main-page div.container div.menu div.tab1 div.active {
    color: #F83600;
}

section.loading-main-page div.container div.menu div.tab1 div.active + hr {
    background: #F83600;
}

section.loading-main-page div.container {
    width: 1110px;
    margin: 0 auto;
    margin-top: 32px;
}

section.loading-main-page div.blurBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(54, 54, 54, 0.3);
    backdrop-filter: blur(10px);
    z-index: 2;
}

section.loading-main-page div.blurBackground div.loader {
    position: absolute;
    left: 47.57vw;
    top: 33.13vw;
    z-index: 3;
    animation: loader 1.5s infinite linear;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {  
        transform: rotate(360deg);
    }
}

@media (min-width: 1160px) and (max-width: 2560px) {
    div.header div.burgerMenu {
        display: none;
    }
    div.header div.backgroundOfMenu {
        display: none;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    section.loading-main-page div.header {
        width: 1110px;
        margin: 0 auto;
        margin-top: 32px;
    }
}

@media (min-width: 2560px) {
    section.loading-main-page div.header div.nameOfPage {
        padding-right: 435px;
    }
}

@media (max-width: 1160px) {
    section.loading-main-page div.header a.cleverland {
        display: none;
    }
}

@media (max-width: 768px) {
    section.loading-main-page div.header div.person {
        display: none;
    }
    section.loading-main-page div.container {
        display: none;
    }
    section.loading-main-page div.header a div.logo {
        display: none;
    }
    section.loading-main-page div.header {
        justify-content: flex-start;
        gap: 3.47vw;
        align-items: center;
        margin: 32px 0 0 8.68vw;
    }
    section.loading-main-page div.header div.nameOfPage {
        padding-left: 3.13vw;
    }
    section.loading-main-page div.blurBackground div.loader {
        top: 52.96vw;
        left: 47.14vw;
    }
    section.loading-main-page div.blurBackground div.loader img {
        width: 44px;
        height: 44px;
    }
}

@media (min-width: 769px) and (max-width: 1160px) {
    section.loading-main-page div.header div.person {
        display: none;
    }
    section.loading-main-page div.container {
        display: none;
    }
    section.loading-main-page div.header {
        padding-left: 64px;
        width: 767px;
        justify-content: flex-start;
    }
    section.loading-main-page div.header div.nameOfPage {
        padding-left: 3.13vw;
    }
}

@media (max-width: 320px) {
    section.loading-main-page div.header {
        margin-left: 5.63vw;
    }
    section.loading-main-page div.header div.nameOfPage {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }
    section.loading-main-page div.header div.burgerMenu img {
        width: 24px;
        height: 24px;
    }
    section.loading-main-page div.blurBackground div.loader {
        top: 85.31vw;
        left: 46.56vw;
    }
    section.loading-main-page div.blurBackground div.loader img {
        width: 22px;
        height: 22px;
    }
}

@media (min-width: 321px) and (max-width: 767px) {
    section.loading-main-page div.header {
        margin-left: 5.63vw;
    }
    section.loading-main-page div.header div.nameOfPage {
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }
    section.loading-main-page div.header div.burgerMenu img {
        width: 24px;
        height: 24px;
    }
    section.loading-main-page div.blurBackground div.loader {
        top: 85.31vw;
        left: 46.56vw;
    }
    section.loading-main-page div.blurBackground div.loader img {
        width: 22px;
        height: 22px;
    }
}