@use '../abstracts' as *;

form.changePassword {
    width: 368px;
    display: flex;
    flex-direction: column;

    input {
        height: 40px;
        width: 100%;
        border: 1px solid $formInputBorderColor;
        border-radius: 2px;
        padding: 11px 12px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18.2px;
    }

    div.password {
        position: relative;
        margin-bottom: 28px;

        &.secondPassword {
            margin-bottom: 42px;
        }

        p.warn {
            color: $registerWarnDefaultColor;
            font-weight: 400;
            font-size: 12px;
            line-height: 15.6px;
        }

        &.error {
            input {
                border: 1px solid $warningInputBorderColor;
                border-radius: 2px;
            }

            p.warn {
                color: $registerWarnActiveColor;
            }
        }

        input {
            padding-right: 30px;
        }

        button {
            width: 14px;
            height: 14px;
            position: absolute;
            top: 13px;
            right: 13px;
        }
    }

    button.changePassword {
        height: 40px;
        justify-content: center;
        gap: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20.8px;
        background-color: $signInButtonColor;
        border-radius: 2px;
        color: $signInButtonTextColor;
        box-shadow: 0px 2px 0px 0px #00000004;

        &.disabled {
            border: 1px solid $authButtonDisabledBorderColor;
            background-color: $authButtonDisabledBackgroundColor;
            color: $authButtonDisabledTitleColor;
        }
    }
}