@use '../abstracts' as *;

div.mainPage {
    display: flex;
    background-image: url('./src/shared/assets/images/main-page-background.svg');
    background-repeat: no-repeat;
    background-size: cover;

    div.headerAndMain {
        width: 100%;
        display: flex;
        flex-direction: column;

        main {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            div.reviewsAndDownload {
                padding: 0 24px;
                padding-bottom: 42px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                button:first-child:not(article.downloadToPhoneCard div.downloadButtons button:first-child) {
                    color: $reviewsButtonColor;
                }
            }
        }
    }
}