$black: #000000;
$catalinaBlue: #061178;
$royalBlue: #2F54EB;
$mineShaft: #262626;
$gallery: #F0F0F0;

$defaultLinkColor: $black;
$firstCardTitleColor: $catalinaBlue;
$SecondCardTitleColor: $mineShaft;
$cardActionTitleColor: $mineShaft;
$cardActionHrColor: $gallery;
$cardActionButtonTitleColor: $royalBlue;