$black: #000000;
$mineShaft: #262626;
$gray: #8C8C8C;
$catalinaBlue: #061178;
$royalBlue: #2F54EB;
$sunsetOrange: #FF4D4F;
$danube: #799cd480;
$silver: #BFBFBF;
$gallery: #F0F0F0;
$zircon: #F0F5FF;
$alto: #D9D9D9;
$wildSand: #F5F5F5;
$alabaster: #FAFAFA;
$white: #ffffff;

$defaultTextColor: $mineShaft;
$defaultLinkColor: $black;
$firstCardTitleColor: $catalinaBlue;
$SecondCardTitleColor: $mineShaft;
$cardBackgroundColor: $white;
$cardActionTitleColor: $mineShaft;
$cardActionHrColor: $gallery;
$cardActionButtonTitleColor: $royalBlue;
$downloadToPhoneTitleColor: $royalBlue;
$reviewsButtonColor: $royalBlue;
$loaderBackgroundColor: $danube;
$downloadToPhoneDescriptionColor: $gray;
$downloadToPhoneHrColor: $gallery;
$sidebarMenuButtonColor: $mineShaft;
$sidebarSwitchButtonColor: $white;
$sidebarBackgroundColor: $white;
$signOutButtonColor: $mineShaft;
$signOutBorderColor: $gallery;
$backgroundHeaderColor: $zircon;
$headerBreadCrumbsColor: $mineShaft;
$headerWelcomeColor: $mineShaft;
$settingsButtonBorderColor: $alto;
$settingsButtonBackgroundColor: $white;
$emailLabelBorderColor: $alto;
$emailLabelBackgroundColor: $alabaster;
$formInputBorderColor: $alto;
$passwordForgotButtonColor: $royalBlue;
$signInButtonColor: $royalBlue;
$signInButtonTextColor: $white;
$signInGoogleButtonColor: $white;
$signInGoogleButtonBorderColor: $alto;
$signInGoogleButtonTextColor: $mineShaft;
$warningInputBorderColor: $sunsetOrange;
$activeAuthLinkColor: $royalBlue;
$notActiveAuthLinkColor: $gallery;
$authWindowBackgroundColor: $white;
$registerWarnDefaultColor: $gray;
$registerWarnActiveColor: $sunsetOrange;
$authButtonDisabledBorderColor: $alto;
$authButtonDisabledBackgroundColor: $wildSand;
$authButtonDisabledTitleColor: $silver;
$codeInputBorderColor: $alto;
$confirmEmailSubTitleColor: $gray;
$resultPageSubtitleColor: $gray;
$resultPageButtonColor: $royalBlue;
$resultPageWindowColor: $white;
$commentDateColor: $silver;
$commentMessageColor: $silver;
$feedbacksButtonColor: $royalBlue;